#{extends 'main.html' /}
#{set title:'Dashboard' /}

#{menu id:"admin"/}

<section class="ui segment">
    <h2 class="ui header">
        All Known Readings in the Database:
    </h2>
    <table class="ui fixed table">
        <thead>
        <tr>
            <th>ID </th>
            <th>code</th>
            <th>temperature</th>
            <th>wind speed</th>
            <th>pressure</th>
        </tr>
        </thead>
        <tbody>
        #{list items:readings, as:'reading'}
        <tr>
            <td>
                ${reading.id}
            </td>
            <td>
                ${reading.code}
            </td>
            <td>
                ${reading.temperature}
            </td>
            <td>
                ${reading.windSpeed}
            </td>
            <td>
                ${reading.pressure}
            </td>
        </tr>
        #{/list}
        </tbody>
    </table>
</section>